<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Get membership</title>
  </head>
  <body>
    <h1>Get membership</h1>
    <% if (!locals.user.membership_status) { %>
    <h2>Enter a password to get membership!</h2>
    <span><%= locals.message ? locals.message : "" %></span>
    <form action="/membership" method="POST" class="membership-form">
      <label for="membershipPassword">Password:</label>
      <input
        type="password"
        id="membershipPassword"
        name="membershipPassword"
        required
      />
      <button type="submit">OK</button>
    </form>
    <% } else { %>
    <h2>You are already a member of the club!</h2>
    <% } %>
  </body>
</html>
