<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Clubhouse</title>
  </head>
  <body>
    <h1>Register</h1>
    <div class="login-container">
      <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <label for="confirm-password">Confirm password:</label>
        <input
          type="password"
          id="confirm-password"
          name="confirm_password"
          required
        />
        <button type="submit">Register</button>
      </form>
      <span>Have an account already? <a href="/">Login</a></span>
    </div>
  </body>
</html>
